In [72]:
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
# Population
df_population = pd.read_csv('/home/cng000/Document/DataScience/project/dataset/PEP_2017_PEPANNRES_with_ann.csv')

In [74]:
df_population.drop(df_population.index[0],inplace=True)
df_population.drop(columns=['rescen42010','resbase42010'],inplace=True)

In [77]:
df_population.head()

,GEO.id,GEO.id2,GEO.display-label,2010,2011,2012,2013,2014,2015,2016,2017
1,0400000US01,1.0,Alabama,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
2,0400000US02,2.0,Alaska,714015,722259,730825,736760,736759,737979,741522,739795
3,0400000US04,4.0,Arizona,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
4,0400000US05,5.0,Arkansas,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279
5,0400000US06,6.0,California,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653