In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
pd.options.display.max_rows = 999
pd.options.display.max_columns =24

## Fetching the data from the cloud.

In [2]:
import io
import requests
url="https://raw.githubusercontent.com/BuzzFeedNews/nics-firearm-background-checks/master/data/nics-firearm-background-checks.csv"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [3]:
# df = pd.read_csv("nics-firearm-background-checks.csv")

In [4]:
df.head(5)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_handgun,returned_long_gun,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-09,Alabama,19471.0,0.0,4978.0,5832.0,241.0,271,0.0,15.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,26.0,24.0,5.0,0.0,0.0,0.0,32706
1,2018-09,Alaska,212.0,5.0,2105.0,2554.0,225.0,165,0.0,0.0,1.0,0.0,...,46.0,44.0,0.0,0.0,0.0,16.0,16.0,1.0,0.0,0.0,0.0,5699
2,2018-09,Arizona,9651.0,398.0,10298.0,6638.0,1096.0,654,0.0,19.0,7.0,1.0,...,117.0,9.0,0.0,0.0,0.0,21.0,20.0,4.0,0.0,0.0,0.0,30667
3,2018-09,Arkansas,4265.0,472.0,3987.0,5257.0,247.0,320,55.0,18.0,17.0,0.0,...,0.0,0.0,0.0,0.0,0.0,19.0,22.0,2.0,1.0,0.0,1.0,17072
4,2018-09,California,34638.0,0.0,29772.0,23788.0,2977.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91975

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13145 entries, 0 to 13144
Data columns (total 27 columns):
month                        13145 non-null object
state                        13145 non-null object
permit                       13121 non-null float64
permit_recheck               1760 non-null float64
handgun                      13125 non-null float64
long_gun                     13126 non-null float64
other                        6160 non-null float64
multiple                     13145 non-null int64
admin                        13122 non-null float64
prepawn_handgun              11202 non-null float64
prepawn_long_gun             11200 non-null float64
prepawn_other                5775 non-null float64
redemption_handgun           11205 non-null float64
redemption_long_gun          11204 non-null float64
redemption_other             5775 non-null float64
returned_handgun             2860 non-null float64
returned_long_gun            2805 non-null float64
returned_other               2475 non-null float64
rentals_handgun              1650 non-null float64
rentals_long_gun             1485 non-null float64
private_sale_handgun         3410 non-null float64
private_sale_long_gun        3410 non-null float64
private_sale_other           3410 non-null float64
return_to_seller_handgun     3135 non-null float64
return_to_seller_long_gun    3410 non-null float64
return_to_seller_other       2915 non-null float64
totals                       13145 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.7+ MB

In [6]:
df.shape

(13145, 27)

In [7]:
df.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,redemption_handgun,redemption_long_gun,...,returned_handgun,returned_long_gun,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,13121.000000,1760.000000,13125.000000,13126.000000,6160.000000,13145.000000,13122.000000,11202.000000,11200.000000,5775.000000,11205.000000,11204.000000,...,2860.000000,2805.000000,2475.000000,1650.000000,1485.000000,3410.000000,3410.000000,3410.000000,3135.000000,3410.000000,2915.000000,13145.000000
mean,6883.064553,1816.801705,6160.638476,7806.897303,400.806656,273.686421,57.026825,4.924389,7.683571,0.218701,421.014726,593.463941,...,36.846853,9.003565,1.154343,0.135758,0.125253,19.775660,16.068328,1.607918,0.543222,0.585924,0.109777,22475.709623
std,25968.560150,14850.019374,8902.231598,9240.087754,1321.758080,774.458661,590.913265,11.021276,16.111409,1.112854,807.561392,941.785966,...,94.749985,23.404829,4.459965,0.974381,0.835815,85.168398,66.247779,5.947132,2.463382,2.280256,0.417887,35003.661008
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,927.000000,2104.000000,20.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4742.000000
50%,609.000000,0.000000,3186.000000,5129.500000,138.000000,128.000000,0.000000,0.000000,1.000000,0.000000,45.000000,176.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12661.000000
75%,4648.000000,3.000000,7561.000000,10400.750000,397.250000,306.000000,0.000000,5.000000,8.000000,0.000000,574.000000,863.000000,...,26.000000,5.000000,0.000000,0.000000,0.000000,7.000000,9.000000,0.000000,0.000000,0.000000,0.000000,26262.000000
max,522188.000000,199766.000000,107224.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,10046.000000,8831.000000,...,810.000000,168.000000,64.000000,13.000000,12.000000,1017.000000,913.000000,91.000000,70.000000,56.000000,4.000000,541978.000000

## Checking for duplicates

In [8]:
df_duplicates = df.drop_duplicates()
df_duplicates.shape

(13145, 27)

## Number of missing value per column

In [9]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
dtype: int64

In [14]:
# print(df[df.isnull().any(axis=1)][null_columns].head())

## Filling missing values

After going through the columns and it's type, I concluded to fill the missing values with 0. 

Reason to this is because the information only tells us how many background check were performed for each permit type, and if the value is NaN then it must mean that there weren't any or unavailable.

In [11]:
df.fillna(0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13145 entries, 0 to 13144
Data columns (total 27 columns):
month                        13145 non-null object
state                        13145 non-null object
permit                       13145 non-null float64
permit_recheck               13145 non-null float64
handgun                      13145 non-null float64
long_gun                     13145 non-null float64
other                        13145 non-null float64
multiple                     13145 non-null int64
admin                        13145 non-null float64
prepawn_handgun              13145 non-null float64
prepawn_long_gun             13145 non-null float64
prepawn_other                13145 non-null float64
redemption_handgun           13145 non-null float64
redemption_long_gun          13145 non-null float64
redemption_other             13145 non-null float64
returned_handgun             13145 non-null float64
returned_long_gun            13145 non-null float64
returned_other               13145 non-null float64
rentals_handgun              13145 non-null float64
rentals_long_gun             13145 non-null float64
private_sale_handgun         13145 non-null float64
private_sale_long_gun        13145 non-null float64
private_sale_other           13145 non-null float64
return_to_seller_handgun     13145 non-null float64
return_to_seller_long_gun    13145 non-null float64
return_to_seller_other       13145 non-null float64
totals                       13145 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.7+ MB

In [13]:
df.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,redemption_handgun,redemption_long_gun,...,returned_handgun,returned_long_gun,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,...,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000,13145.000000
mean,6870.497528,243.253785,6151.265120,7795.613085,187.825713,273.686421,56.927045,4.196501,6.546672,0.096082,358.879422,505.832636,...,8.016889,1.921263,0.217345,0.017041,0.014150,5.130087,4.168353,0.417117,0.129555,0.151997,0.024344,22475.709623
std,25946.504976,5467.574566,8898.696696,9238.169617,926.625250,774.458661,590.400845,10.323147,15.119844,0.745531,760.395122,894.601435,...,46.732070,11.422206,1.986872,0.348043,0.283628,44.231568,34.465471,3.109631,1.224943,1.189331,0.201978,35003.661008
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,920.000000,2087.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4742.000000
50%,604.000000,0.000000,3172.000000,5122.000000,0.000000,128.000000,0.000000,0.000000,0.000000,0.000000,3.000000,91.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12661.000000
75%,4639.000000,0.000000,7545.000000,10395.000000,117.000000,306.000000,0.000000,4.000000,6.000000,0.000000,439.000000,674.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26262.000000
max,522188.000000,199766.000000,107224.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,10046.000000,8831.000000,...,810.000000,168.000000,64.000000,13.000000,12.000000,1017.000000,913.000000,91.000000,70.000000,56.000000,4.000000,541978.000000