In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../dataset/gun-violence-data_01-2013_03-2018.csv")

In [3]:
df.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [4]:
df.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
incident_id                    239677 non-null int64
date                           239677 non-null object
state                          239677 non-null object
city_or_county                 239677 non-null object
address                        223180 non-null object
n_killed                       239677 non-null int64
n_injured                      239677 non-null int64
incident_url                   239677 non-null object
source_url                     239209 non-null object
incident_url_fields_missing    239677 non-null bool
congressional_district         227733 non-null float64
gun_stolen                     140179 non-null object
gun_type                       140226 non-null object
incident_characteristics       239351 non-null object
latitude                       231754 non-null float64
location_description           42089 non-null object
longitude                      231754 non-null float64
n_guns_involved                140226 non-null float64
notes                          158660 non-null object
participant_age                147379 non-null object
participant_age_group          197558 non-null object
participant_gender             203315 non-null object
participant_name               117424 non-null object
participant_relationship       15774 non-null object
participant_status             212051 non-null object
participant_type               214814 non-null object
sources                        239068 non-null object
state_house_district           200905 non-null float64
state_senate_district          207342 non-null float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

In [13]:
check = pd.read_csv("nics-firearm-background-checks.csv")
check.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-09,Alabama,19471.0,0.0,4978.0,5832.0,241.0,271,0.0,15.0,...,0.0,0.0,0.0,26.0,24.0,5.0,0.0,0.0,0.0,32706
1,2018-09,Alaska,212.0,5.0,2105.0,2554.0,225.0,165,0.0,0.0,...,0.0,0.0,0.0,16.0,16.0,1.0,0.0,0.0,0.0,5699
2,2018-09,Arizona,9651.0,398.0,10298.0,6638.0,1096.0,654,0.0,19.0,...,0.0,0.0,0.0,21.0,20.0,4.0,0.0,0.0,0.0,30667
3,2018-09,Arkansas,4265.0,472.0,3987.0,5257.0,247.0,320,55.0,18.0,...,0.0,0.0,0.0,19.0,22.0,2.0,1.0,0.0,1.0,17072
4,2018-09,California,34638.0,0.0,29772.0,23788.0,2977.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91975

In [14]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13145 entries, 0 to 13144
Data columns (total 27 columns):
month                        13145 non-null object
state                        13145 non-null object
permit                       13121 non-null float64
permit_recheck               1760 non-null float64
handgun                      13125 non-null float64
long_gun                     13126 non-null float64
other                        6160 non-null float64
multiple                     13145 non-null int64
admin                        13122 non-null float64
prepawn_handgun              11202 non-null float64
prepawn_long_gun             11200 non-null float64
prepawn_other                5775 non-null float64
redemption_handgun           11205 non-null float64
redemption_long_gun          11204 non-null float64
redemption_other             5775 non-null float64
returned_handgun             2860 non-null float64
returned_long_gun            2805 non-null float64
returned_other               2475 non-null float64
rentals_handgun              1650 non-null float64
rentals_long_gun             1485 non-null float64
private_sale_handgun         3410 non-null float64
private_sale_long_gun        3410 non-null float64
private_sale_other           3410 non-null float64
return_to_seller_handgun     3135 non-null float64
return_to_seller_long_gun    3410 non-null float64
return_to_seller_other       2915 non-null float64
totals                       13145 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.7+ MB